nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #061527;
  border-bottom: 1px solid #1e293b;
  z-index: 1000;
  padding: 8px 16px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 40px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
  width: auto;
  object-fit: contain;
}

/* Links and Buttons */
.navbar-links,
.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar-links a {
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  color: #bdd1ec;
  transition: background-color 0.2s ease;
}

.navbar-links a:hover {
  background-color: rgba(100, 116, 139, 0.2);
}

.navbar-buttons button {
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

/* Buttons */
.btn-login {
  background-color: transparent;
  color: white;
  border: 4px solid #a9a3a3;
}

.btn-login:hover {
  background-color: hsl(204, 88%, 66%);
  color: #0f172a;
}

.btn-signup {
  background-color: hsl(204, 88%, 66%);
  color: white;
}

.btn-signup:hover {
  background-color: #3d4b60;
}

/* Hamburger Icon  */
.hamburger-icon {
  display: none;
  cursor: pointer;
  color: white;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  .logo {
    height: 60px;
  }

  .navbar-links {
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-container {
    flex-wrap: wrap;
    height: auto;
  }

  .logo {
    height: 40px;
  }

  .hamburger-icon {
    display: block;
  }

  .navbar-links,
  .navbar-buttons {
    display: none;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  .navbar-links.active,
  .navbar-buttons.active {
    display: flex;
  }

  .navbar-links a,
  .navbar-buttons button {
    width: 100%;
  }
}
